* {
    box-sizing: border-box;
}
body {
       font-family: 'Arial', sans-serif;
}
.scene {
     width: 100%;
     height: 100%;
	 min-height: 500px;
	 position: relative;
	 top: 0px;
	 left: 0px;
	 background-color: #FFF0F5;
	 transform: translate3d(0, 0, 0);
}
.layer-4 {
     animation: animation_fg linear 120s infinite both; 
	 background: url(https://raw.githubusercontent.com/Eleven11Spiders/Berry-Cider-Coriolis-Generator/main/animation/sky.png) 0 100% repeat-x;
	 z-index: 1;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 512px;
}
.layer-3 {
     animation: animation_fg linear 95s infinite both; 
	 background: url(https://raw.githubusercontent.com/Eleven11Spiders/Berry-Cider-Coriolis-Generator/main/animation/forest1.png) 0 100% repeat-x;
	 z-index: 1;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 315px;
}

.layer-2 {
     animation: animation_fg linear 70s infinite both; 
	 background: url(https://raw.githubusercontent.com/Eleven11Spiders/Berry-Cider-Coriolis-Generator/main/animation/forest2.png) 0 100% repeat-x;
	 z-index: 1;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 111px;
}

.layer-1 {
     animation: animation_fg linear 22s infinite both; 
	 background:  url(https://raw.githubusercontent.com/Eleven11Spiders/Berry-Cider-Coriolis-Generator/main/animation/grass.png) 0 100% repeat-x;
	 z-index: 1;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 74px;
}
.object-1 {
     background: url(https://raw.githubusercontent.com/Eleven11Spiders/Berry-Cider-Coriolis-Generator/main/animation/monster.png) 0 100% no-repeat;
	 z-index: 1;
	 position: absolute;
	 bottom: 0px;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 277px;
	 animation: animation_object linear 77s infinite both;
}

.object-2 {
     background: url(https://raw.githubusercontent.com/Eleven11Spiders/Berry-Cider-Coriolis-Generator/main/animation/dude.png) 0 100% no-repeat;
	 z-index: 1;
	 position: absolute;
	 bottom: 0px;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 277px;
	 animation: animation_object linear 43s infinite both;
}
@keyframes animation_fg {
 0% {
background-position: 2765px 100%;
}
100% {
    background-position: 550px 100%;
  }
}
@keyframes animation_object {
0% {
background-position: -300px 100%;
}
  100% {
background-position: 2000px 100%;
}
}
